= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title, class: "col-lg-8 col-lg-offset-2"
    .spacing
    .col-lg-8.col-lg-offset-2
      = f.text_field :title, class: "input-lg form-control"
      .spacing
  .form-group
    = f.label :text, class: "col-lg-8 col-lg-offset-2"
    .spacing
    .col-lg-8.col-lg-offset-2
      = f.text_area :text, class: "form-control", rows: "20"
      .spacing
  .form-group
    .col-lg-8.col-lg-offset-2
      = f.submit 'create', class: "btn btn-primary form-control"
