#blue
  .container
    .row
      %h3.centered Articles Feed
.container.mtb
  .row
    - @articles.each do |article|

      .col-lg-12
        %h3.ctitle
          = article.title
        %p
          %csmall
            Posted:
            = article.created_at
            |
            %csmall2
              By:
              =article.user.name
        %p
          %csmall
            = article.text
        %p
          = link_to 'Read', article_path(article)
          = link_to 'Edit', edit_article_path(article)
          = link_to 'Delete', article_path(article),
          method: :delete
        .hline
        .spacing
