!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BlogRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  -if current_user
    =image_tag( current_user.user_image, width: '50', heigth: '50')
    signed in as #{current_user.name} 
    =link_to "sign out", sign_out_path
  -else
    =link_to "sign in with facebook", "/auth/facebook"
  = yield